extends layout

block content
  p Takk fyrir skráningu
  a(href='/') Aftur á forsíðu
  
block foot
  if user
    p.link Innskráður notendi: #{user.name}
    a.link(href='/logout') Útskráning
    a.link(href='/admin') Stjórnsíða

  else
    a.link(href='/login') Innskráning
        
